/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

/*colour scheme
licorice #161313
Venetian red #BF0918
cosmic cobal #293C89
slate grey #6A81A0
platinum #E7EBEB
*/

body {
  background: #E7EBEB; 
  box-sizing: border-box;}

a{
  font-family: Arial;
  font-size: 1em;}

.layout-grid{
  display: grid;
  grid-template-columns: 250px;
  grid-template-areas: 
  	"header header"
    "logo nav"
    "main main"
    "footer footer";
}
header {
  grid-area: header;}

.logo {
  grid-area: logo;
  padding: 5%;
  padding-bottom: 0;
  height: 100px;}

nav {
  display: inline;
  grid-area: nav;
  text-align: center;
  line-height: 10em;}

nav a{
  padding: 1% 3%;
  margin: 1% 0.5%;
  background-color: #BF0918;
  color: #E7EBEB;
  border: solid 2px #161313;
  transition: all .5s;}

nav a:hover {
  background: #161313;
  outline-color: #BF0918;
  padding: 1% 6%;
  margin: 1% 1%;
  font-size: 1.5em;
}

main {
  grid-area: main;
  height: 100%;
  background: red;}

footer {
  grid-area: footer;
  background: grey;}


/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
  
  body {
    background: #E7EBEB;} 
/*  .menu{
text-align: center;
line-height: 3em;}
.logo{
	padding: 1%;
	padding-bottom: 0;
	height: 100px;}*/
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #E7EBEB;} 
/*  .menu{
text-align: center;
line-height: 3em;}
.logo{
	padding: 1%;
	padding-bottom: 0;
	height: 100px;}*/
}
