/*colour scheme
licorice #161313
Venetian red #BF0918
cosmic cobal #293C89
slate grey #6A81A0
platinum #E7EBEB

*//* MOBILE AND GLOBAL STYLES */
/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  margin: 0;
  background: #E7EBEB; 
  min-height: 100%;}

a{
  font-family: Arial;
  font-size: 1em;}

/*main layout*/

.layout-grid{
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
  	"header"
    "logo"
    "nav"
    "main"
    "footer";}

header {
  grid-area: header;}

.logo {
  display: block;
  grid-area: logo;
  margin-left: auto;
  margin-right: auto;
  padding: 5% 0;
  height: 100px;}

nav {
  display: grid;
  grid-area: nav;
  text-align: center;
  line-height: 2em;}

nav a{
  padding: 5px 3px;
  margin: 2px 1px;
  background-color: #BF0918;
  color: #E7EBEB;
  border: solid 2px #161313;
  transition: all .5s;}

nav a:hover {
  background: #161313;
  padding: 1% 6%;
  margin: 1% 1%;
  font-size: 1.5em;
}

main {
  grid-area: main;
  background: #6A81A0;}

footer {
  grid-area: footer;
  background: grey;}

/*main content*/

.contactmain{
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 100%;
  grid-template-areas: 
  "left right";}

 .contleft{
  grid-area: left;
  margin: 2% 1% 2% 5%;
  background-color: #E7EBEB;}

 .contright{
  grid-area: right;
  margin: 2% 5% 2% 1%;
  background-color: #E7EBEB;}

.contactform{
	margin: 20px 0;}

input[type=text], input[type=email], input[type=submit], textarea {
  text-align: center;
  width: 90%;
  padding: 10px;
  border: 2px solid #6A81A0;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 2% 5%;}

label{
	padding-left: 8%;}

textarea{
	height: 150px;}

input[type=submit] {
  background-color: #BF0918;
  color: white;
  border: solid 2px #161313;
  border-radius: 10px;
  cursor: pointer;
}

input[type=submit]:hover {
  background: #161313;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* TABLET STYLES */
@media screen and (min-width: 500px) {
  /* applies to screens wider than 499px */



/* DESKTOP STYLES */
@media screen and (min-width: 1000px) {
  /* applies to screens wider than 999px */

.layout-grid{
  grid-template-columns: 250px;
  grid-template-areas: 
  	"header header"
    "logo nav"
    "main main"
    "footer footer";}

nav {
  display: block;
  line-height: 10em;}

 nav a{
  padding: 1% 3%;
  margin: 1% 0.5%;}
