/*colour scheme
licorice #161313
Venetian red #BF0918
slate grey #6A81A0
platinum #E7EBEB

*//* MOBILE AND GLOBAL STYLES */
/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  margin: 0;
  background: #E7EBEB; 
  min-height: 100%;}

a{
  font-family: Arial;
  font-size: 1em;}

/*main layout*/

.layout-grid{
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
  	"header"
    "logo"
    "nav"
    "main"
    "footer";}

header {
  grid-area: header;}

.logo {
  display: block;
  grid-area: logo;
  margin-left: auto;
  margin-right: auto;
  padding: 5% 0;
  height: 100px;}

nav {
  display: grid;
  grid-area: nav;
  text-align: center;
  line-height: 2em;}

nav a{
  padding: 5px 3px;
  margin: 2px 1px;
  background-color: #BF0918;
  color: #E7EBEB;
  border: solid 2px #161313;
  transition: all .5s;}

nav a:hover {
  background: #161313;
  padding: 1% 6%;
  margin: 1% 1%;
  font-size: 1.5em;}

main {
  grid-area: main;
  background: #6A81A0;}

footer {
  grid-area: footer;
  background: grey;}

/*contact page*/

.contactmain{
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
  "ctext" "cform";}

.contacttext{
  grid-area: ctext;
  border-radius: 50px;
  margin: 2% 5% 1% 5%;
  padding: 3%;
  background-color: #E7EBEB;
  text-align: center;}

.contactform{
  grid-area: cform;
  border-radius: 50px;
  margin: 1% 5% 2% 5%;
  padding-top: 3%; 
  background-color: #E7EBEB;}

input[type=text], input[type=email], input[type=submit], textarea {
  text-align: center;
  width: 90%;
  padding: 10px;
  border: 2px solid #6A81A0;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 2% 5%;}

label{
  padding-left: 8%;}

textarea{
  height: 150px;}

input[type=submit] {
  background-color: #BF0918;
  color: white;
  border: solid 2px #161313;
  border-radius: 10px;
  cursor: pointer;}

input[type=submit]:hover {
  background: #161313;}

/*about page*/

.aboutmain{
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
  "abouttext"
  "insta";}

.abouttext{
  grid-area: abouttext;
  padding: 3%; 
  margin: 5% 3% 1% 3%;
  padding: 3%;  
  border-radius: 50px;
  text-align: center;
  background: #E7EBEB;}

.insta{
  grid-area: insta; 
  text-align: center;
  padding: 3%;
  border-radius: 50px;
  margin: 1% 3% 5% 3%;
  background: #E7EBEB;}

/*instagram external*/
.gs-ijC05Ar9aR3Fyw{
  border-radius: 50px;
}
/*ttt gallery*/

.galleries{
  border-radius: 0;
  display: grid;
  background: #E7EBEB;
  padding: 1%;
  margin: 2%;
  justify-content: space-around;
  grid-template-columns: auto;}

.album{
  padding: 10px;
  position: relative;
  width: 300px;}

.albumimage{
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  transition: 1.5s;}

.texthover {
  position: absolute;
  text-align: center;
  transition: 1.5s;
  opacity: 0;
  top: 50%;
  left: 50%;}

.text {
  background-color: none;
  text-align: center;
  padding: auto;
  color: #161313;
  font-size: 30px;}

.texthover {
  position: absolute;
  text-align: center;
  opacity: 0;
  transition: 1.5s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);}

.album:hover .albumimage {
  opacity: 0.1;}

.album:hover .texthover {
  opacity: 1;}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0;}

.col {
  flex: 100%;
  max-width: 100%;
  padding: 0 5%;}

.col img {
  max-width: 100%;
  margin: 0;
  padding: 0;
  vertical-align: middle;}

.tttimages{
  display: none;}

/*album ttt page navigation*/

.page {
  display: none;
  margin:0px;
  padding-top: 0px;
  height: 100%;}
      
.page{margin:0px;}

.default {display:block;}
      
:target {display:block;}
      
/*scroll button ttt page*/

.topbtn {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  outline: none;
  color: #E7EBEB;
  font-size: 35px;
  background-color: #161313;
  cursor: pointer;
  padding: 0 10px 5px 10px;
  border-radius: 20px;
}

.topbtn:hover{
  background-color: #BF0918;
  border: solid 2px #161313
}

/*home page*/

.homemain{
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
  "mainwelcome" 
  "mainnews"
  "maininsta"
  "mainenquiry";}

.mainwelcome{
  grid-area: mainwelcome;
  border-radius: 50px;
  margin: 5% 5% 2% 5%;
  padding: 5%;
  background-color: #E7EBEB;
  text-align: center;}

.maininsta{
  grid-area: maininsta;
  border-radius: 50px;
  margin: 2% 5%;
  padding: 5%;
  background-color: #E7EBEB;
  text-align: center;}

.mainnews{
  grid-area: mainnews;
  border-radius: 50px;
  margin: 2% 5%;
  padding: 5%;
  background-color: #E7EBEB;
  text-align: center;}

.mainenquiry{
  grid-area: mainenquiry;
  border-radius: 50px;
  margin: 2% 5% 5% 5%;
  padding: 5%;
  background-color: #E7EBEB;
  text-align: center;}

.newyear{
  width: 40%;
  padding: 0 1px; 
  margin: 0;
  font-size: 14px;
  color: #E7EBEB;
  text-shadow: 1px 1px 5px black, 0 0 30px blue, 0 0 10px darkblue;
  text-align: center;
  font-weight: bold;
  background-color: #BF0918;
  border: solid 2px #161313; ;
  position: relative;
  animation: scroll 10s infinite;
  animation-timing-function: linear
  }

@keyframes scroll {
  from {left: 0%;}
  to {left: 100%;}
}
/*footer*/

.footer{
  background-color: #161313;
  text-align: center;
}
 .footer p{
  font-size: 12px;
  padding: 0;
  margin: 5px;
  color: #E7EBEB;
 }

.footer a:link {
  color: #E7EBEB;
}

.footer a:visited {
  color: #E7EBEB;
}

.footer a:hover {
  color: #BF0918;
}

.footer a:active {
  color: #6A81A0;
}


/* TABLET STYLES */
@media screen and (min-width: 500px) {
  /* applies to screens wider than 499px */



/* DESKTOP STYLES */
@media screen and (min-width: 1000px) {
  /* applies to screens wider than 999px */

.layout-grid{
  grid-template-columns: 250px;
  grid-template-areas: 
  	"header header"
    "logo nav"
    "main main"
    "footer footer";}

nav {
  display: block;
  line-height: 10em;}

 nav a{
  padding: 1% 3%;
  margin: 1% 0.5%;}

/*contact page*/

.contactmain{
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 100%;
  grid-template-areas: 
  "ctext cform";}

.contacttext{
  grid-area: ctext;
  margin: 2% 1% 2% 5%;}

.contactform{
  grid-area: cform;
  margin: 2% 5% 2% 1%;}

/*about page*/

.aboutmain{
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 100%;
  grid-template-areas:
  "abouttext insta";}

.abouttext{
  margin: 2% 1% 2% 10%;}

.insta{
  margin: 2% 10% 2% 1%;}

/*ttt gallery page*/

.galleries{
  border-radius: 50px;
  grid-template-columns: repeat(4, auto);}

.album{
  width: 200px;
}

.row {
  padding: 0 2%;
}
.col {
  flex: 20%;
  max-width: 20%;
  padding: 0;
}

/*home page*/

.homemain{
  grid-template-columns: 50%;
  grid-template-rows: 50%;
  grid-template-areas: 
  "mainwelcome maininsta"
  "mainnews mainenquiry";}

.mainwelcome{
  margin: 5% 1% 2% 5%;}

.maininsta{
  margin: 5% 5% 2% 1%;}

.mainnews{
  margin: 2% 1% 5% 5%;
  padding: 5%;}

.mainenquiry{
  margin: 1% 5% 5% 2%;}

.newyear{
  width: 30%;
  padding: 0 2%; 
  font-size: 20px;
  animation: scroll 15s infinite;
}
